.contain {
	MARGIN: 0px auto; WIDTH: 960px
}

.center {
	TEXT-ALIGN: center
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H4 {
	FONT-SIZE: 1px; BACKGROUND: url(/images/logo.gif) no-repeat; FLOAT: left; MARGIN: 0px; WIDTH: 180px; HEIGHT: 60px
}

H4 A {
	DISPLAY: block; WIDTH: 180px; COLOR: #fff; HEIGHT: 60px; TEXT-DECORATION: none
}

#menu {
	BACKGROUND: url(/images/menubg.gif) repeat-x; HEIGHT: 29px
}

#menu LI {
	FLOAT: left; MARGIN-LEFT: 10px; LIST-STYLE-TYPE: none
}
#menu LI A {
	COLOR: #fff; LINE-HEIGHT: 29px; TEXT-DECORATION: none
}

